<%= form_with(model: @document, local: true, remote: true) do |form| %>
  
    <div class="field">
      <%= form.label :file, 'Choose a PDF file to upload:' %>
      <%= form.file_field :file %>
    </div>
  
    <div class="actions">
      <%= form.submit 'Upload Document' %>
    </div>
  <% end %>
